@font-face {
  font-family: "Notoserf";
  src: url(../fonts/NotoSerif-Black.ttf);
}

/* ============global==================== */
* {
  text-transform: capitalize;
}

/* ============End global================ */

/* ===============header=============== */
header {
  position: relative;
  background: url(../img/blue_bg.png);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
header .navbar {
  border: 0;
  box-shadow: none;
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  background: #eaf1f585;
}

.navbar .nav-link::after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(206, 64, 64);
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  transform: scale(0);
}
.navbar .nav-link.active::after {
  transform: scale(1);
}
.navbar .nav-link:hover.nav-link::after {
  transform: scale(1);
}
.login-btn {
  border-radius: 30px;
  padding: 0.5rem 1.7rem;
  font-size: 0.7rem;
  border: none;
  box-shadow: none;
  color: #888 !important;
}

.banner {
  margin-top: 100px !important;
}
.banner_left strong {
  color: rgb(96, 14, 173);
}

.banner_right {
  position: relative;
  background: url(../img/landing_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  text-align: center;
}

.banner_right img.maskgroup {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 40%;
  height: 350px;
  transform: translate(-50%, -50%);
}

.clouds {
  position: absolute;
  bottom: -10%;
  left: 20%;
  max-width: 350px;
}

.waves {
  position: absolute;
  bottom: -20%;
  left: -37%;
}

.waves img {
  transform: scale(0.7, 0.7);
}
/* ===============End header=============== */

/* ================= features =============== */
.features {
  position: relative;
  background-size: contain;
  background: url(../img/second_section_.png);
  background-repeat: no-repeat;
  background-position: 72% 382%;
  background-size: 75% 97%;
  color: #777;
}

/* =================End features =============== */

/* ================why-choose ===================*/

.why_kudozoka_img {
  position: relative;
}
.why_kudozoka_img img {
  width: 300px;
  height: 300px;
}
.why_kudozoka_title {
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(0, -50%);
}

.discount_desc {
  color: #777;
}
/* ================ end why-choose ===================*/

/*============================ support ===================*/

.owl-carousel .owl-item.active .item {
  margin-top: 150px;
}

.desc_box {
  display: none;
}
.owl-carousel .owl-item.active .item img {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.owl-carousel .owl-item.active.center .item {
  margin-top: 10px;
}
.owl-carousel .owl-item.active.center .item .desc_box {
  display: block;
}
.owl-carousel .owl-item.active.center img {
  width: 350px !important;
  height: 350px !important;
  margin: 0 auto;
}
.owl-carousel .owl-item.active img {
  width: 200px !important;
  height: 200px !important;
}

.owl-nav {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -11rem;
  position: relative;
  z-index: 999;
}

.owl-nav button {
  margin: 0 14rem;
}
.owl-nav button span {
  font-size: 3rem;
}

/*======================== footer =========================== */
footer {
  position: relative;
  margin-top: 9rem;
  background: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center 10vh;
  height: 90vh;
}
.social_links a:hover {
  opacity: 0.7;
}
.nav_bottom a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 992px) {
  footer {
    background-position: center 30vh;
  }
}

.footer_img img {
  position: absolute;
  bottom: 0;
  left: 10%;
  /* transform: translate(-50%, 0); */
  width: 80%;
  /* height: 70%; */
}
/*======================== end footer =========================== */

/* ********************* Media Query *************************** */
@media screen and (max-width: 767px) {
  header .navbar {
    background-color: #e5f4fbab;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand img {
    margin-right: 0.25rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar .nav-link::after {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .banner_right {
    background-position: 23px center;
  }
  .banner_right img.maskgroup {
    left: 50% !important;
  }
}

@media screen and (max-width: 767px) {
  .waves {
    bottom: -14%;
    left: -37%;
  }
  .waves img {
    transform: scale(1);
  }
}

@media screen and (max-width: 767px) {
  .features {
    background: unset;
  }
}

@media screen and (max-width: 767px) {
  .why_kudozoka_title {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
  }
}

@media screen and (max-width: 991px) {
  .owl-nav {
    margin-top: -27rem;
  }
  .owl-nav button {
    margin: 0 14rem;
  }
}
@media screen and (max-width: 500px) {
  .owl-nav button {
    margin: 9rem 10rem 0 10rem;
  }
}

@media screen and (max-width: 700px) {
  footer {
    background-position: center 55vh;
  }
  .social_links {
    flex-direction: column;
    display: flex;
  }
  .social_links a {
    background-color: #3796c2f6;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 2px;
    border-radius: 50%;
  }

  .program_store .btn {
    padding: 3px;
    min-width: 126px;
  }

  .footer_img {
    height: 66vh !important;
  }
}
.footer_img {
  height: 40vh;
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer_img {
    height: 60vh;
  }
}
